<h1>Exemplos de Data Binding:</h1>

valorContador: {{ valorContador }}

<app-exercicio-contador

[(valor)] = "valorContador"

></app-exercicio-contador>

<br><br><hr>

<h2>Exemplos de Event Binding:</h2>

<button

    (click) = "emitir($event)"

>Emitir dados</button>

<br><br>

<h3>Valor do Input: {{ valorDigitado }}</h3>

<input type="text" 

    (keyup) = "textoDigitado($event)"
    
/>

<br><br><hr>

<h2>Exemplos de Property Binding:</h2>

<h3>Palavra: {{ palavra }}</h3>

<br><br>

<button [disabled] = "isDisabled">Clique Aqui</button>

<br><br>


<!--Exibindo a imagem utilizando interpolação-->

<!--<img src = "{{ imageURL }}">-->

<!--Exibindo a imagem utilizando data binding por função-->

<!--<img [src] = "getImage()">-->

<!--Exibindo a imagem utilizando  data binding por variável-->

<img [src] = "imageURL">