<br><br>

<h1>Exemplos de Event Binding:</h1>

<br><br>

<button

    (click) = "emitir($event)"

>Emitir dados</button>

<br><br>

<h2>Valor do Input: {{ valorDigitado }}</h2>

<input type="text" 

    (keyup) = "textoDigitado($event)"
    
/>

<br><br>

<h1>Exemplos de Property Binding:</h1>

<br><br>

<h2>Palavra: {{ palavra }}</h2>

<br><br>

<button [disabled] = "isDisabled">Clique Aqui</button>

<br><br>


<!--Exibindo a imagem utilizando interpolação-->

<!--<img src = "{{ imageURL }}">-->

<!--Exibindo a imagem utilizando data binding por função-->

<!--<img [src] = "getImage()">-->

<!--Exibindo a imagem utilizando  data binding por variável-->

<img [src] = "imageURL">